{% assign excerpt_with_phone_num = include.card.excerpt | replace: '!PHONE_NUMBER!', site.phone_number %}

{% if include.card.alt_url %}
  {% assign card_href = include.card.alt_url %}
{% else %}
  {% assign card_href = include.card.url %}
{% endif %}

<div class="card services-card">
    <div class="card-inner">
      <h4>{{ include.card.title }}</h4>
      {% if include.card.meeting_time %}
      <p>
        <strong>{{ include.card.meeting_time }}</strong>
      </p>
      {% endif %}
      {{ excerpt_with_phone_num }}
    </div>
    {% if (include.card.content.size > include.card.excerpt.size) or page.always_show_learn_more %}
        <a href="{{ card_href }}" class="learn-more">Learn More &#x2192;</a>
    {% endif %}
</div>
